body {
  font-family: Arial, sans-serif;
  background: rgb(200, 200, 237);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
}

button {
  padding: 10px 20px;
  background: #e63946;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background: #d62828;
}

.card {
  background: #fff;
  padding: 20px;
  max-width: 350px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

h2 {
  margin: 15px 0;
  color: #e63946;
}
